@yellow:#eeff04f5;
.margenes(@top: 0px, @botton 0px){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: @yellow;
    color: black;
    margin-top: 50px;
    margin-top: 50px;
    margin-bottom: 10px; 
    .margenes(50ps, 0px)
}
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    .margenes(10px, 10px) 
}
  
  .card-hotel {
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
    margin-top: 10px;
    margin-bottom: 0px; }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  