$yellow: #e7e40e;
$red: #f50202a2;
$green: #12b11f77;

@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    
}
.jumbotron {
    background-color:$yellow;
    color: black;
    margin-top: 50px;
    @include margenes(50px, 10px)
}
footer{
    padding: 10px 10px 0 10px;
    background-color:$green;
    margin-bottom: 0px;
    margin-top: 10px;
    @include margenes(10px, 0px)
}
.card-hotel {
    flex: 1 200px;
    padding: 2px 0px 2px 0px; 
    margin-top: 10px; 
    @include margenes(10px, 0px)


}
.btn-reserva {
    width: 100%;
    border-radius: 0px;
 
}
.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}